/* Color Palette
https://coolors.co/303030-f5f5f5-d2d7df-bdbbb0-0077b8
Jet: #303030, a charcoal grey
Cultured: #F5F5F5, slightly off white
Light Grey: #D2D7DF, with a bluish tint
Pale Silver: #BDBBB0, slightly lighter than regular grey
Star Command Blue: #0077B8, slightly lighter than regular blue
*/

/* The box-sizing means that width is content, padding and border. Everything but margin.
  It's called "the box-model fix"*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Aron's new CSS is below this */

img {
  height: 40px;
}

body {
  background-color: #f5f5f5;
  color: #303030;
  padding: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 200;
}

h1 {
  font-weight: 400;
  margin: 2px;
  line-height: 1.1;
  font-size: 3rem;
  text-align: center;
}

h2,
h3 {
  font-weight: 500;
}

nav {
  background-color: #d2d7df;
}

nav li {
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 15%;
  padding: 0;
  /*  border-style: outset; seemed like a good idea, did not look like a good idea. */
}
.content-width {
  width: 800px;
  margin: 0 auto;
  /*padding: 5px;*/
}
nav a {
  display: inline-block;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  padding: 10px;
}

nav a:focus,
nav a:hover {
  outline-width: 1px;
  outline-color: #303030;
  background-color: #f5f5f5;
}

nav ul {
  list-style-type: none;
}

/* Grid layout on resume.js */
.grid-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 50px;
}

.grid-item {
}
