/* Color Palette
https://coolors.co/303030-f5f5f5-d2d7df-bdbbb0-0077b8
Jet: #303030, a charcoal grey
Cultured: #F5F5F5, slightly off white
Light Grey: #D2D7DF, with a bluish tint
Pale Silver: #BDBBB0, slightly lighter than regular grey
Star Command Blue: #0077B8, slightly lighter than regular blue
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Aron's new CSS is below this */

img {
  height: 40px;
}

body {
  background-color: #f5f5f5;
  color: #303030;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #d2d7df;
}

nav li {
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 15%;
  padding: 0;
  /*  border-style: outset; seemed like a good idea, did not look like a good idea. */
}
.content-width {
  width: 800px;
  margin: 0 auto;
  /*padding: 5px;*/
}
nav a {
  display: inline-block;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  padding: 10px;
}

nav a:focus,
nav a:hover {
  outline-width: 1px;
  outline-color: #303030;
  background-color: #f5f5f5;
}

nav ul {
  list-style-type: none;
}
